@page "/debug"
@using gtime.Models

<h3>Debug</h3>
<p>
Idle: @TrackingService.IsIdle <br />
Timestamp: @TrackingService.LastScan <br />
@if (!TrackingService.IsIdle)
{
    <span>Program: </span> @TrackingService.CurrentActivity?.Class <br/>
    <span>Activity: </span> @TrackingService.CurrentActivity?.Title <br/>
}
</p>