@page "/"
@using gtime.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle> 

<div class="timeline-page"> 
    
    <h2>Daily Timeline</h2>
    <br />
    <div class="timeline-wrapper">
        <div id="timeline" class="timeline-bar"></div>

        <div class="time-labels">
            <span>00:00</span><span>02:00</span><span>04:00</span><span>06:00</span>
            <span>08:00</span><span>10:00</span><span>12:00</span><span>14:00</span>
            <span>16:00</span><span>18:00</span><span>20:00</span><span>22:00</span>
            <span>24:00</span>
        </div>
    </div>

    <!-- Cursor‑following tooltip shared by all blocks -->
    <div id="floating-infobox" class="floating-infobox"></div>
    
</div>

