@page "/"
@using gtime.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle> 

<div class="timeline-page">
    
    <div class="missing-hypridle">
        <h3>Missing dependency</h3>
        <p>This tool needs <i>hypridle</i> to track your activities.</p>
    
        <h4>Installation</h4>
        <p class="config-txt">yay -S hypridle</p>
    
        <h4>Configuration</h4>
        <p>Hypridle needs a config file. Add the configuration to ~/.config/hypr/hypridle.conf. <br />
            Configure your timeout time in seconds.</p>
        <p class="config-txt">
            listener {
                timeout = 120
                on-timeout = echo 1 > /tmp/.gtime_idle;
                on-resume = echo 0 > /tmp/.gtime_idle;
            }
        </p>
        <p>Configure hypridle to run at startup by adding the following to your hyprland configuration under ~/.config/hypr/hypridle.conf</p>
        <p class="config-txt">
            exec-once = hypridle
        </p>
    </div>
    

    <h2>Daily Timeline</h2>
    <br/>
    <div class="timeline-wrapper">
        <div id="timeline" class="timeline-bar"></div>

        <div class="time-labels">
            <span>00:00</span><span>02:00</span><span>04:00</span><span>06:00</span>
            <span>08:00</span><span>10:00</span><span>12:00</span><span>14:00</span>
            <span>16:00</span><span>18:00</span><span>20:00</span><span>22:00</span>
            <span>24:00</span>
        </div>
    </div>

    <!-- Cursor‑following tooltip shared by all blocks -->
    <div id="floating-infobox" class="floating-infobox"></div>

</div>

